<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Team Name: <%= @team[0] %></h1> 
  <h2>Coach: <%= @team[1] %></h2>
  <h2>Point Guard: <%= @team[2] %></h2>
  <h2>Shooting Guard: <%= @team[3] %></h2>
  <h2>Small Forward: <%= @team[4] %></h2>
  <h2>Power Forward: <%= @team[5] %></h2>
  <h2>Center: <%= @team[6] %></h2>
 </body>
</html>


